[user]
	useConfigOnly = true
[include]
	path = ~/.config/git/config
	path = ~/.gitconfig.local
[credential "https://github.com"]
	helper =
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !gh auth git-credential
