[Desktop Entry]
Type=Application
Name=Neovim
Comment=Edit text files in Neovim
Exec=xdg-terminal-exec -- nvim %F
TryExec=xdg-terminal-exec
Terminal=false
Icon=nvim
Categories=Utility;TextEditor;ConsoleOnly;
Keywords=Text;Editor;Neovim;Vim;
MimeType=text/english;text/plain;text/markdown;text/x-r-markdown;text/x-quarto-markdown;text/x-changelog;text/csv;text/csv-schema;text/tab-separated-values;text/x-log;text/x-python;text/x-python3;text/x-lua;text/x-makefile;text/x-c;text/x-c++;text/x-csrc;text/x-c++src;text/x-chdr;text/x-c++hdr;text/x-java;text/x-tex;text/x-texinfo;text/x-dbus-service;text/x-systemd-unit;application/json;application/ld+json;application/geo+json;application/jrd+json;application/json-patch+json;application/x-ipynb+json;application/x-shellscript;application/x-yaml;application/raml+yaml;application/sql;application/x-desktop;
