[Desktop Entry]
Type=Application
Name=Yazi File Manager
Comment=Blazing fast terminal file manager written in Rust
Exec=yazi %f
TryExec=yazi
Terminal=true
Icon=yazi
Categories=System;FileManager;FileTools;ConsoleOnly;
Keywords=File;Manager;Explorer;Browser;Launcher;
MimeType=inode/directory;
