[MASTER]
# Ignore .ipynb files completely
ignore-patterns=.*\.ipynb$

[FORMAT]
# Match black formatter line length
max-line-length=88

[MESSAGES CONTROL]
# Disable various warnings that are problematic for notebooks and scripts
# C0103: invalid-name (constant naming convention)
# C0111: missing-docstring (old code)
# C0114: missing-module-docstring
# C0115: missing-class-docstring
# C0116: missing-function-docstring
# C0301: line-too-long (handled by black formatter)
# C0302: too-many-lines
# W0105: pointless-string-statement (string statements used as comments)
# R0903: too-few-public-methods
# R0913: too-many-arguments
# R0914: too-many-local-variables
disable=syntax-error,
        invalid-syntax,
        no-member,
        undefined-variable,
        unused-import,
        invalid-name,
        missing-docstring,
        missing-module-docstring,
        missing-class-docstring,
        missing-function-docstring,
        line-too-long,
        too-many-lines,
        pointless-string-statement,
        too-few-public-methods,
        too-many-arguments,
        too-many-local-variables